<div class="wrapper-create-project">
  <div class="columns is-centered">
    <div class="column is-6">
      <div class="box">
        <h1 class="title is-3">Create a new project</h1>
        <form>
          <div class="field">
            <label class="label">Title</label>
            <p class="control">
              <input class="input" type="text" [(ngModel)]="formInfo.title" name="title" placeholder="Title">
            </p>
          </div>

          <div class="field">
            <label class="label">Profile</label>
            <p class="control">
              <input class="input" type="text" [(ngModel)]="formInfo.profile" name="profile" placeholder="Profile">
            </p>
          </div>
          <div class="field">
            <label class="label">Vacancies</label>
            <p class="control">
              <input class="input" type="number" [(ngModel)]="formInfo.vacancies" name="vacancies" placeholder="Nº Vacancies">
            </p>
          </div>
          <label for="">DeadLine</label>
          <input [(ngModel)]="formInfo.deadLine" type="date" name="deadLine">
          <label for="">Start</label>
          <input [(ngModel)]="formInfo.startDate" type="date" name="startDate">
          <label for="">End</label>
          <input [(ngModel)]="formInfo.endDate" type="date" name="endDate">
          <div class="field">
            <label class="label">Type</label>
            <div class="control">
              <div class="select">
                <select [(ngModel)]="formInfo.type" name="type">
           <option>onSite</option>
           <option>online</option>
            <option>international</option>
         </select>
              </div>
            </div>
          </div>
          <div class="field">
            <label class="label">Photo:</label>
            <input type="file" name="file" ng2FileSelect [uploader]="uploader" />
          </div>   
          <div class="field">
            <label class="label">Tags</label>
            <div class="control">
              <div class="select is-multiple">
                <select multiple size="2" [(ngModel)]="formInfo.tags" name="tags">
        <option>animals</option>
        <option>art and culture</option>
        <option>community</option>
        <option>education</option>
        <option>environment</option>
        <option>sports</option>
        <option>tics</option>
        <option>homeless</option>
        <option>kids</option>
        <option>youth</option>
        <option>handicapped</option>
        <option>penitentiary</option>
        <option>mental healt</option>
      </select>
              </div>
            </div>
          </div>
          <div class="field">
                <label class="label">Description</label>
            <div class="control">
              <textarea class="textarea" [(ngModel)]="formInfo.description" name="description" type="text" placeholder="Description"></textarea>
            </div>
          </div>
          <!-- GOOGLE MAPS PLACES TRY-->



          <div class="field">
                <label class="label">Location</label>
            <p class="control">
              <input class="input" placeholder="search for location" autocorrect="off" autocapitalize="off" spellcheck="off" type="text" #search [formControl]="searchControl" size="100">

            </p>
          </div>
          <agm-map [latitude]="latitude" [longitude]="longitude" [zoom]="zoom">
            <agm-marker [latitude]="latitude" [longitude]="longitude"></agm-marker>
          </agm-map>

          <!--  <div class="card">
              <ul class="list-group list-group-flush">
                <li class="list-group-item">formatted_address <code>{{formatted_address}}</code></li>
                <li class="list-group-item">latitude <code>{{latitude}}</code></li>
                <li class="list-group-item">longitude <code>{{longitude}}</code></li>
                <li class="list-group-item">zoom <code>{{zoom}}</code></li>
              </ul>
            </div> -->


          <!-- END GOOGLE MAPS-->
          <br>
          <div class="field">
            <p class="control">
              <button class="button is-info" (click)="createProject()">
              Create
              </button>
            </p>
          </div>
          <p class="error"> {{ error }} </p>
        </form>
      </div>
    </div>
  </div>
</div>
