<div class="wrapper-newmessage">

  <div class="container">
    <div class="columns is-centered">
      <div class="column is-6">
        <div class="box">
          <h1 class="title is-3">Send a message</h1>
          <div class="field">
            <div class="control">
              <input class="input is-info" type="text" placeholder="Subject">
            </div>
          </div>
          <div class="field">
            <div class="control">
              <textarea class="textarea is-info" type="text" placeholder="Message Content"></textarea>
            </div>
          </div>
          <a class="button is-info">Send</a>
        </div>
      </div>
    </div>



  </div>
</div>
