<div class="project-info"*ngIf="project">



  <div class="columns  is-centered">
    <div class="column is-6">
      <div class="box">
        <div *ngIf="user._id == project.creator._id">
              <a [routerLink]="['/projects/edit/', project._id]">Edit </a>
        </div>
        <img [src]="project.imgUrl" />
        <h1 class="title is-2">{{project.title}}</h1>
        <h3>{{project.type}}</h3>
        <p>{{project.description}}</p>
        <p> {{project.creator.username}}</p>
        <agm-map [latitude]="project.position.latitud" [longitude]="project.position.longitud">
          <agm-marker [latitude]="project.position.latitud" [longitude]="project.position.longitud"></agm-marker>
        </agm-map>
        <h2>Comments</h2>
        <div *ngIf="comments?.length > 0">
          <div >
            <p  *ngFor="let comment of comments">
              Contenido:  {{comment.content}}
            <span>Autor: {{comment.creator.username}}</span>
            <span>Name: {{comment.creator.name}}</span>
            </p>
          </div>


        </div>

        <form>
          <div class="field">
            <div class="control">
              <textarea class="textarea is-primary" [(ngModel)]="formInfo.content" name="content" type="text" placeholder="Comment..."></textarea>
            </div>
          </div>
          <div class="field">
            <p class="control">
              <button class="button is-success" (click)="createComment()">
                      Create comment
                    </button>

            </p>
          </div>
          <p class="error"> {{ error }} </p>
        </form>

      </div>
    </div>
  </div>
</div>
