body{
  position: relative;
 margin: 0;

}
.fill-remaining-space {
   /*This fills the remaining space, by using flexbox.
  Every toolbar row uses a flexbox row layout. */
  flex: 1 1 auto;
  max-width: 100%;
  overflow-x: hidden;
}

.navbar {
  background: #fff;
  border-bottom: 0.3px solid  #898989;
  color: #898989;
  position: fixed !important; top: 0; left: 0; right: 0;
  z-index:1;
}

.navbar-item:hover{
  color: #0086c5;
}
footer{
  margin-top:100px;
  background: #252525;
  color: #fff;
  width: 100%;
  position:relative;
  bottom:0;
}
